<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>servlet1.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>someServlet</servlet-name>
    <servlet-class>servlet2.SomeServlet</servlet-class>
    <init-param>
      <param-name>company</param-name>
      <param-value>dmetal.com</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>someServlet</servlet-name>
    <url-pattern>/some</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>actionServlet</servlet-name>
    <servlet-class>servlet3.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SomesServlet</servlet-name>
    <servlet-class>servlet4.SomesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomesServlet</servlet-name>
    <url-pattern>/somes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>servlet5.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/addCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindCookieServlet</servlet-name>
    <servlet-class>servlet5.FindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCookieServlet</servlet-name>
    <url-pattern>/findCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find_AddCookieServlet</servlet-name>
    <servlet-class>servlet5.Find_AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find_AddCookieServlet</servlet-name>
    <url-pattern>/find_addCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlet6.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet7.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CommentFilter</filter-name>
    <filter-class>servlet7.CommentFilter</filter-class>
    <init-param>
      <param-name>illegalStr</param-name>
      <param-value>温</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter</filter-name>
    <url-pattern>/comment</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CommentFilter2</filter-name>
    <filter-class>servlet7.CommentFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter2</filter-name>
    <url-pattern>/comment</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>company</param-name>
    <param-value>dmetal.com</param-value>
  </context-param>
  <listener>
    <listener-class>servlet8.CountListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>A</display-name>
    <servlet-name>A</servlet-name>
    <servlet-class>servlet8.A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>B</display-name>
    <servlet-name>B</servlet-name>
    <servlet-class>servlet8.B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>B</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThreadSafetyServlet</display-name>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <servlet-class>servlet9.ThreadSafetyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadSafetyServlet</servlet-name>
    <url-pattern>/thread</url-pattern>
  </servlet-mapping>
</web-app>